/* Charte de couleurs */

.bg-noir, body {color: #1d1f1f; background-color: #1d1f1f;}

.bg-clair-rouge {color: #c8c0c0; background-color: #c8c0c0;}

.bg-clair-vert {color: #b8bbb3; background-color: #b8bbb3;}


/* Couleur du texte */

h1, td, .labelmap, #tooltip
{
    color: #b8bbb3;
    fill: gray;
    font-family: Alef, Bahnschrift, Arial;
    text-align: center;
}

td a {
    color: #b8bbb3;
    text-decoration: none;
}

td:hover {
    background-color: #b8bbb3;
    border-color: red;
}

td:hover>a {
    color: black;
    font-weight: 700;
}

/* Dimensions et bordures des liens de la page d'accueil (sous forme de tableaux) */
table {
    width: 90%;
}

td {
    display: block;
    border: solid 0.25px white;
    padding:2% 0% 2% 0%;
}

/* Div pour affichage de la légende */

#legend {
    height: 10%;
    width: 20%;
    margin-left: auto;
    margin-right: 5%;
    float: right;
}

/* Positionnement de la div contenant la carte */

div#carto {
    margin: 2% 5% 5% 5%;
    background-color: #1d1f1f;
}

/* Tooltip infos carto */

#tooltip {
    font-size: large;
    bottom: 0;
    position: fixed;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: auto;
}

/* Texte de la légende */

.date_leg, .date_cursor {
    font-size: medium;
    font-weight: 600;
}

.date_leg {
    fill: lightgray;
}

.date_cursor {
    fill: orange;
}

